html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: "Roboto";
    src:
        local("Roboto Regular"),
        url("../fonts/roboto.woff") format("woff");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
/*  background-color: #849d8f;*/
}

h1 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
}

h2 {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

div,
section,
ul {
  outline: 1px dashed orangered;
}

h2,
h3,
b,
p,
a,
li {
  outline: 1px dashed #555555;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 846px;
  max-width: 1146px;
  padding-right: 27px;
  padding-left: 27px;
}

header {
  margin-bottom: 10px;
  background-color: #ffd9a0; /*для построения сетки*/
}

.header-top {
  display: flex;
}

.index-logo {
  padding-top: 9px;
  margin-left: -6px;
}

.main-navigation {
  flex-grow: 1;
  align-self: center;
  padding-left: 0;
}

.main-navigation a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: bold;
}

.main-menu {
  display: flex;
  margin-left: -24px;
  list-style: none;
}

.main-menu > li {
  padding-top: 6px;
  padding-right: 14px;
  padding-bottom: 5px;
  padding-left: 14px;
}

.main-menu > li:hover a {
  color: #323232;
}

.main-menu .menu-catalog {
  position: relative;
}

.main-menu .sub-menu {
  display: none;
  padding-top: 5px;
}

.main-menu .sub-menu ul {
  padding-top: 6px;
  padding-left: 0;
  list-style: none;
  white-space: nowrap;
  background-color: #f8f7f4;
}

.sub-menu a {
  display: block;
  margin-bottom: 4px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 7px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
}

.sub-menu .menu-latest {
  padding-top: 5px;
  padding-bottom: 11px;
  font-weight: bold;
}

.main-menu > li:hover .sub-menu { /*как лучше сделать прозрачную область сверху? от оберток верстка едет*/
  position: absolute;
  top: 32px;
  left: -6px;
  display: block;
}

.user-block {
  display: flex;
  align-self: center;
}

.user-block a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.search-wrap {
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.search-field {
  display: none;
}

.search-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  align-self: center;
  outline: 1px dotted #333333; /*для построения сетки*/
}

.search-wrap:hover .search-field {
  position: absolute;
  right: 1px;
  top: 6px;
  z-index: 1;
  display: block;
  padding-top: 30px;
}

.search-form {
  padding: 19px 15px;
  background-color: #f8f7f4;
  outline: 1px dashed orangered; /*для построения сетки*/
}

.search-form label {
  display: none;
}

.search-form input {
  display: block;
  width: 311px;
  height: 44px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 24px;
}

.login-wrap {
  position: relative;
}

.login {
  display: inline-block;
  width: 60px;
  height: 25px;
  margin-right: 8px;
  padding-top: 7px;
  padding-right: 16px;
  padding-left: 16px;
  text-align: right;
}

.login-window {
  display: none;
  padding-top: 10px;
}

.login-wrap:hover .login-window {
  position: absolute;
  top: 25px;
  right: 8px;
  z-index: 2;
  display: block;
}

.login-form {
  width: 241px;
  height: 175px;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 20px;
  padding-left: 19px;
  outline: 1px dashed blue; /*для построения сетки*/
}

.login-form label {
  display: none;
}

.login-form input {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-top: 6px;
  padding-bottom: 10px;
  padding-left: 13px;
  font-size: 14px;
  line-height: 24px;
}

.login-form .btn {
  float: left;
  margin-right: 18px;
  padding-top: 9px;
  padding-right: 25px;
  padding-bottom: 9px;
  padding-left: 23px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
}

.login-form a {
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  color: #323232;
}

.cart-full {
  position: relative;
}

.cart {
  display: inline-block;
  width: 90px;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 17px;
  text-align: right;
  vertical-align: middle;
}

.cart-empty {
  width: 74px;
  padding-right: 35px;
}

.cart-preview {
  display: none;
}

.cart-full:hover .cart-preview {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 2;
  display: block;
  width: 540px;
  padding-top: 5px;
  text-align: right;
}

.cart-preview .cart-form {
    background-color: #f8f7f4;
    padding: 16px 14px 20px 15px;
}

.cart-preview table {
  font-size: 13px;
  line-height: 16px;
}

.cart-preview td {
  padding: 0;
  padding-bottom: 15px;
  text-align: left;
/*  vertical-align: middle;*/
}

.cart-preview .cart-delete {
  width: 24px;
}

.cart-preview .delete-icon {
  width: 10px;
  height: 10px;
  outline: 1px dotted blue; /*для построения сетки*/
}

.cart-preview .cart-img {
  width: 44px;
}

.cart-preview .cart-name {
  width: 247px;
}

.cart-preview .cart-quantity-price {
  width: 122px;
}

.cart-quantity-price .cart-quantity {
  color: #333333;
}

.cart-quantity-price .cart-price {
  color: #999999;
}

.cart-preview .cart-item-total {
  width: 66px;
}

.cart-preview .cart-order-total {
  padding-top: 18px;
  padding-bottom: 13px;
  text-align: right;
  vertical-align: bottom;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #333333;
}

.cart-preview button {
  display: inline-block;
  padding: 7px 14px 9px 14px;
  text-align: right;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
}

.contacts {
  position: relative;
  align-self: flex-end;
  height: 0;
}

.contacts-absolute {
  position: absolute;
  top: -20px;
  left: -165px;
}

.contacts-schedule {
  margin-bottom: -18px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: right;
}

.contacts-phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}

main {
  flex-grow: 1;
  background-color: #feecd4; /*для построения сетки*/
}

.slider {
  height: 518px; /*для имитации высоты слайдера*/
  margin-bottom: 40px;
}

.bonus {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.bonus-item {
  display: flex;
  flex-direction: column;
  flex-basis: 420px;
  flex-grow: 1;
  flex-shrink: 1;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  background-color: #f7bdc1; /*для построения сетки*/
  color: #ffffff;
}

.bonus-item-left {
  margin-right: 27px;
}

.bonus-title {
  margin-top: 0;
  margin-bottom: -3px;
  margin-left: -1px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.bonus-item p {
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.bonus-item a {
  align-self: flex-end;
  display: inline-block;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;

}

.hit,
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -2px;
  background-color: #dea5a4; /*для построения сетки*/
}

.gallery-item {
  position: relative;
  flex-basis: 267px;
  flex-shrink: 1;
  margin-bottom: 42px;
}

.gallery-hit::before {
  position: absolute;;
  display: block;
  content: "";
  width: 60px;
  height: 60px;
  outline: 1px dotted #333333;
}

.gallery-item img {
  border-radius: 50%;
}

.item-price {
  position: absolute;
  top: 192px;
  z-index: 1;
  font-weight: bold;
  color: #000000;
}

.item-price-value {
  font-size: 45px;
  line-height: 45px;
}

.item-price-currency {
  font-size: 30px;
  line-height: 45px;
}

.item-price::before {
  position: absolute;
  display: block;
  content: "";
  top: 7px;
  left: 81px;
  z-index: 2;
  width: 29px;
  height: 34px;
  outline: 1px dotted #333333;
}

.gallery-item .item-name {
  margin-top: 6px;
  margin-bottom: -2px;
  padding-left: 6px; /*исправляет перенос слов из-за небольшой разницы в шрифте*/
  padding-right: 6px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.item-name::after {
  position: absolute;
  display: block;
  content: "";
  width: 95%;
  height: 40px;
}

.gallery-item button {
  display: none;
}

.gallery-item:hover button {
  position: absolute;
  left: 33px;
  bottom: -57px;
  z-index: 1;
  display: block;
  width: 200px;
  height: 45px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
}

.features {
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

.feature-wrap {
  display: flex;
  justify-content: space-between;
}

.feature-wrap-column {
  display: flex;
  flex-direction: column;
  flex-basis: 540px;
  flex-shrink: 1;
}

.feature-item {
  position: relative;
  margin-top: 0;
  margin-bottom: 22px;
  margin-left: 57px;
}

.feature-item::before {
  position: absolute;
  top: -15px;
  left: -57px;
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  outline: 1px dotted #555555;
}

.news-subscribe {
  display: flex;
    margin-bottom: 40px;
}

.news,
.subscribe {
  flex-basis: 420px;
  flex-shrink: 1;
  flex-grow: 1;
  padding-right: 20px;
  padding-left: 20px;
}

.news {
  margin-right: 27px;
  padding-top: 7px;
}

.news-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.news-preview {
  display: inline-block;
  max-width: 283px;
  margin-top: -11px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
  text-decoration: underline;
}

.subscribe {
  flex-basis: 408px;
  padding-top: 33px;
  padding-bottom: 33px;
  border: 6px solid #92cdff;
}

.subscribe p {
  margin-top: -5px;
  margin-bottom: 34px;
}

.subscribe-form {
  display: flex;
  outline: 1px dashed red;
}

.subscribe-form input {
  flex-grow: 1;
  margin-right: 11px;
  padding-left: 14px;
}

.subscribe-form label {
  display: none;
}

.subscribe-form button {
  display: inline-block;
  flex-shrink: 0;
  padding-top: 8px;
  padding-right: 18px;
  padding-bottom: 11px;
  padding-left: 18px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
}

.map {
  position: relative;
  height: 429px;
}

.map-contacts {
  position: absolute;
  top: 62px;
  right: 0;
  z-index: 1;
  width: 252px;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
}

.map-contacts p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
}

.map-contacts b {
  display: block;
  margin-bottom: 19px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.map-contacts b:last-of-type {
  margin-top: 4px;
  margin-bottom: 2px;
}

.map-contacts a {
  display: block;
  margin-top: 24px;
  padding-top: 9px;
  padding-right: 28px;
  padding-bottom: 11px;
  padding-left: 28px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.breadcrumbs {
  margin-bottom: 5px;
  padding-top: 10px;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a {
  position: relative;
  margin-right: 18px;
}

.breadcrumbs a::after {
  position: absolute;
  content: "";
  top: 6px;
  right: -14px;
  display: block;
  width: 6px;
  height: 6px;
  outline: 1px dotted blue; /*для построения сетки*/
}

.filter {
  margin-bottom: 40px;
  background-color: #f7bdc1; /*для построения сетки*/
}

.filter-top {
  display: flex;
  margin-bottom: 17px;
}

/*.filter .sorting {
  display: inline-block;
} - убираю отображение инлайн-блок, т.к. сделала родитель флекс-контейнером*/

.filter-top > div {
  margin-right: 15px;
}

.sorting label,
.range p,
.fatness p,
.topping p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.sorting select,
.fatness label,
.topping-checkbox label
.filter .btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
/*  color: #ffffff;*/
}

.sorting label {
  display: block;
  padding-left: 16px;
  margin-bottom: 5px;
}

.sorting select {
  display: block;
  width: 193px;
  height: 36px;
  padding-left: 12px;
  border: none;
  vertical-align: middle;
}

.sorting option {
  display: block;
  padding-top: 25px;
  padding-left: 25px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Roboto", "Arial", sans-serif;
}

/*.filter .range {
  display: inline-block;
} - убираю отображение инлайн-блок, т.к. сделала родитель флекс-контейнером*/

.range p {
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 15px;
}

.range .range-bar {
  width: 219px;
  height: 36px;
}

/*.filter .fatness {
  display: inline-block;
} - убираю отображение инлайн-блок, т.к. сделала родитель флекс-контейнером*/

.fatness p {
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 15px;
}

.fatness-value {
  width: 385px; /*убрать после добавления стилей переключателей*/
  height: 36px;
  padding-left: 15px;
  padding-right: 15px;
}

.filter .topping {
  display: inline-block;
  margin-right: 10px;
}

.topping p {
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 15px;
}

.topping-checkbox {
  width: 673px; /*убрать после добавления стилей переключателей*/
  height: 36px;
  padding-left: 15px;
  padding-right: 15px;
}

.filter .btn {
  display: inline-block;
  width: 144px;
  height: 36px;
  text-align: center;
}

.pagination {
  height: 26px;
  margin-bottom: 30px;
  text-align: right;
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 23px;
  background-color: #ecc7b4; /*для построения сетки*/

}

.main-footer,
.main-footer a {
    color: #ffffff;
}

.footer-social {
  padding-top: 17px;
}

.social-btn {
  display: inline-block;
  width: 38px;
  height: 38px;
  font-size: 0;
}

.social-btn-twit,
.social-btn-inst,
.social-btn-fb {
  margin-right: 8px;
}

.footer-info {
  display: flex;
  padding-top: 13px;
}

.footer-info-column {
  display: flex;
  flex-direction: column;
}

.footer-info-column:first-child {
  margin-right: 28px;
}

.footer-providers {
  position: relative;
  font-weight: bold;
}

.footer-providers::before {
  position: absolute;
  left: -18px;
  top: 5px;
  content: "";
  width: 15px;
  height: 13px;
  background-image: url("../img/heart-icon.png");
}

.footer-info a {
  display: inline-block;
  padding: 2px;
  font-size: 13px;
  line-height: 18px;
}

.ha-logo-img {
  display: block;
  width: 108px;
  height: 38px;
  background-image: url("../img/ha-logo.png");
}

.footer-copyright p {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
}

.feedback {
  display: none;
}

.feedback {
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 99;
  display: block;
  width: 429px;
  height: 400px;
  margin-left: -237px;
  padding: 16px 24px 26px 24px;
  background-color: #f8f7f4;
}

.feedback b {
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.feedback label {
  display: none;
}

.feedback input {
  width: 250px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 14px;
  font-size: 16px;
  line-height: 24px;
}

.feedback textarea {
  width: 100%;
  height: 155px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 14px;
}

.feedback .btn {
  float: right;
  padding-top: 8px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 23px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
}

.feedback-close {
  position: absolute;
  top: 15px;
  right: 16px;
  display: block;
  width: 16px;
  height: 16px;
  outline: 1px dotted blue;
}
