html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 860px;
  width: 100%;
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
  content: "";
  visibility: hidden;
}

.site-wrapper:before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper:after {
  background-image: url("../img/slider-3.png");
}

.content-wrapper {
  min-width: 860px;
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.inner-content-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  background-color: #849d8f;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

h1 {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

a {
  text-decoration: none;
}

input,
textarea {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

input {
  outline: none;
}

input:hover {
  border-color: #c7c6c5;
  box-shadow: 0 0 1px 0 #c7c6c5;
}

input:focus {
  border-color: #8fbdec;
  box-shadow: 0 0 1px 0 #8fbdec;
}

.btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  background-color: #e74b36;
  background-image: -webkit-linear-gradient(#f26843, #e74b36);
  background-image: linear-gradient(#f26843, #e74b36);
  border: none;
  border-radius: 15px;
  box-shadow: 0 1px 1px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.btn:hover {
  background-color: #ec6f5e;
  background-image: -webkit-linear-gradient(#f58669, #ec6f5e);
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 1px 1px 0 rgb(172, 16, 0);
}

.btn:active {
  background-color: #ec6f5e;
  background-image: -webkit-linear-gradient(#d74632, #e1613e);
  background-image: linear-gradient(#d74632, #e1613e);
  box-shadow: inset 0 1px 1px 0 rgb(172, 16, 0);
}

/*div,
article,
ul {
  outline: 1px dashed orangered;
}
h2,
h3,
b,
p,
a,
li {
  outline: 1px dashed #555555;
}*/

header {
  margin-bottom: 10px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-logo {
  margin-left: -6px;
  padding-top: 9px;
}

.main-navigation {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-left: 0;
}

.main-navigation a {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -24px;
  list-style: none;
}

.main-menu .main-list {
  padding: 6px 14px 5px 14px;
  border-radius: 18px;
}

.main-list > a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-menu .menu-active {
  background-color: #d07058;
}

.menu-active > a {
  border: none;
}

.main-list:hover {
  background-color: #f8f7f4;
}

.main-list:active {
  background-color: #f8f7f4;
  box-shadow: inset 0 1px 1px #696969;
}

.main-list:hover a {
  color: #323232;
  border: none;
}

.main-menu .menu-catalog {
  position: relative;
}

.main-menu .sub-menu {
  display: none;
  padding-top: 5px;
}

.sub-menu ul {
  padding-top: 6px;
  padding-bottom: 3px;
  padding-left: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.4);
  list-style: none;
  white-space: nowrap;
}

.sub-menu a {
  display: block;
  margin-bottom: 4px;
  padding: 6px 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
}

.sub-menu a:hover {
  color: #323232;
  background-color: #fbded7;
}

.sub-menu a:active {
  background-color: #f6b5a5;
}

.sub-menu .submenu-active {
  color: #ffffff;
  background-color: #d07058;
}

.sub-menu .menu-latest {
  position: relative;
  padding-top: 5px;
  padding-bottom: 11px;
  font-weight: bold;
}

.sub-menu .menu-latest::after {
  content: "";
  position: absolute;
  right: 9px;
  bottom: 0px;
  left: 6px;
  height: 1px;
  background-color: #d1d0ce;
}

.menu-catalog:hover .sub-menu {
  position: absolute;
  top: 32px;
  left: -6px;
  z-index: 2;
  display: block;
}

.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
}

.user-block a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.user-block .search-wrap {
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.user-block .search-field {
  display: none;
}

.user-block .search-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/sprite.png");
  background-position: 2px 2px;
  border-radius: 50%;
}

.search-wrap:hover .search-btn {
  background-color: #ffffff;
  background-position: 2px -25px;
}

.search-wrap:hover .search-field {
  position: absolute;
  top: 0;
  right: 1px;
  z-index: 1;
  display: block;
  padding-top: 36px;
}

.search-form {
  padding: 19px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.4);
}

.search-form label {
  display: none;
}

.search-form input {
  display: block;
  width: 310px;
  height: 44px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 14px;
}

.user-block .login-wrap {
  position: relative;
}

.user-block .login {
  position: relative;
  display: inline-block;
  width: 60px;
  margin-right: 10px;
  padding: 8px 16px;
  text-align: right;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.user-block .login:hover {
  background-color: #ffffff;
  color: #323232;
}

.user-block .login::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 16px;
  width: 21px;
  height: 19px;
  background-image: url("../img/sprite.png");
  background-position: -5px -59px;
}

.user-block .login:hover::before {
  background-position: -5px -88px;
}

.user-block .login-window {
  display: none;
  padding-top: 3px;
}

.login-wrap:hover .login-window {
  position: absolute;
  top: 32px;
  right: 8px;
  z-index: 2;
  display: block;
}

.user-block .login-form {
  width: 241px;
  height: 175px;
  padding: 20px 17px 20px 19px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.4);
}

.login-form label {
  display: none;
}

.login-form input {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-right: 1px;
  padding-bottom: 13px;
  padding-left: 14px;
  font-size: 14px;
  line-height: 14px;
  vertical-align: top;
  box-sizing: border-box;
}

.login-form .btn {
  float: left;
  margin-right: 19px;
  padding: 10px 25px;
  border-radius: 19px / 26px;
}

.login-form a {
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  vertical-align: top;
  color: #323232;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login-form .lost-password {
  margin-top: 5px;
  margin-bottom: 7px;
}

.login-form a:hover,
.login-form a:active {
  color: #e84d37;
  border-color: rgba(232, 77, 55, 0.3);
}

.user-block .cart-wrap {
  position: relative;
}

.user-block .cart {
  position: relative;
  display: inline-block;
  width: 74px;
  padding: 8px 35px 8px 8px;
  text-align: right;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.user-block .cart-full {
  width: 90px;
  padding-right: 17px;
  padding-left: 12px;
  color: #323232;
  background-color: #ffffff;
}

.user-block .cart-empty::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("../img/sprite.png");
  background-position: -5px -117px;
}

.user-block .cart-full::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 17px;
  width: 21px;
  height: 20px;
  background-image: url("../img/sprite.png");
  background-position: -5px -147px;
}

.user-block .cart-preview {
  display: none;
}

.cart-wrap:hover .cart-preview {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 2;
  display: block;
  width: 540px;
  padding-top: 5px;
  text-align: right;
}

.cart-preview .cart-form {
  padding: 16px 14px 20px 15px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.4);
}

.cart-preview table {
  font-size: 13px;
  line-height: 16px;
}

.cart-preview td {
  padding: 0;
  padding-bottom: 15px;
  text-align: left;
}

.cart-preview .cart-delete {
  position: relative;
  width: 24px;
}

.cart-preview .delete-icon {
  display: block;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.cart-preview .delete-icon::before {
  content: "";
  position: absolute;
  top: 18px;
  left: -2px;
  height: 1px;
  width: 14px;
  background-color: #323232;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cart-preview .delete-icon::after {
  content: "";
  position: absolute;
  top: 18px;
  left: -2px;
  width: 14px;
  height: 1px;
  background-color: #323232;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cart-preview .cart-img {
  width: 44px;
}

.cart-preview .cart-name {
  width: 227px;
  padding-right: 20px;
}

.cart-preview .cart-name-long { /*опустить на 8 пикс. - следование макету*/
  padding-top: 8px;
  padding-bottom: 7px;
}

.cart-preview .cart-quantity-price {
  width: 122px;
}

.cart-quantity-price .cart-quantity {
  color: #333333;
}

.cart-quantity-price .cart-price {
  color: #999999;
}

.cart-preview .cart-item-total {
  width: 66px;
}

.cart-preview .cart-order-total {
  position: relative;
  padding-top: 18px;
  padding-bottom: 13px;
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #333333;
}

.cart-preview .cart-order-total::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  height: 1px;
  width: 100%;
  background-color: #cacac7;
}

.cart-preview button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px / 25px;
  text-align: right;
  vertical-align: top;
}

.contacts {
  position: relative;
  -ms-flex-item-align: end;
  align-self: flex-end;
  height: 0;
}

.contacts-absolute {
  position: absolute;
  top: -5px;
  right: 0;
}

.contacts-schedule,
.contacts-phone {
  margin: 0;
  white-space: nowrap;
}

.contacts-schedule {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
}

.contacts-phone {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.slider {
  position: relative;
  margin-bottom: 40px;
  padding-top: 303px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 9px 40px 12px 40px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 23px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 40px;
}

.bonus-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 420px;
  flex-basis: 420px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-height: 191px;
  padding: 16px 20px 23px 20px;
  color: #ffffff;
  border-radius: 15px;
}

.bonus-item-left {
  margin-right: 27px;
  background-color: #9b0123;
  background-image: url("../img/bonus-left.jpg");
}

.bonus-item-right {
  background-color: #432416;
  background-image: url("../img/bonus-right.jpg");
}

.bonus-title {
  margin-top: 0;
  margin-bottom: -3px;
  margin-left: -1px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.bonus-item p {
  margin-bottom: auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.bonus-item a {
  -ms-flex-item-align: end;
  align-self: flex-end;
  display: inline-block;
  padding: 10px 23px 12px 23px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  border-radius: 23px;
}

.hit,
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: -2px;
}

.gallery {
  margin-bottom: 40px;
}

.gallery-item {
  position: relative;
  max-width: 267px;
  width: 23.26%;
  margin-right: 26px;
  margin-bottom: 39px;
  text-align: center;
}

.gallery-item:nth-child(4n) {
  margin-right: 0;
}

.gallery-hit::before {
  content: "";
  position: absolute;
  z-index: 4;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../img/sprite.png");
  background-position: -5px -177px;
  border-radius: 50%;
}

.gallery-item img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 7px;
}

.gallery-item .gallery-img-wrap {
  position: relative;
}

.item-price {
  position: absolute;
  bottom: 6px;
  z-index: 3;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(49, 50, 53, 0.5);
  color: #ffffff;
}

.item-price-value {
  font-size: 45px;
  line-height: 45px;
}

.item-price-currency {
  font-size: 30px;
  line-height: 45px;
}

.item-price::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 81px;
  z-index: 3;
  display: block;
  width: 29px;
  height: 34px;
  background-image: url("../img/sprite.png");
  background-position: -5px -484px;
}

.gallery-item .item-name {
  margin: 0 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

/*.item-name-wrap {
  padding: 0 8px;
}*/

.gallery-item:hover .item-name {
  border: none;
}

.gallery-item .btn-wrap {
  display: none;
}

.gallery-item .btn {
  display: none;
}

.gallery-item:hover .btn-wrap {
  position: absolute;
  top: -6px;
  left: -13px;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  padding: 9px 13px 73px 13px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
}

.gallery-item:hover .btn {
  position: absolute;
  left: 50%;
  bottom: 22px;
  display: block;
  width: 200px;
  margin-left: -100px;
  padding-top: 9px;
  padding-bottom: 11px;
  border-radius: 18px / 23px;
  text-align: center;
}

.gallery-item:hover img {
  position: relative;
  z-index: 3;
}

.features {
  margin-bottom: 40px;
  padding-right: 20px;
  padding-bottom: 3px;
  padding-left: 20px;
  border-radius: 15px;
  background-color: #ede1c6;
  background-image: url("../img/features-background.jpg");
}

.features h3 {
  margin-bottom: 21px;
}

.feature-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feature-item {
  position: relative;
  max-width: 540px;
  width: 47%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 22px;
  padding-left: 57px;
}

.feature-item:nth-child(2n+1) {
  margin-right: 27px;
}

.feature-item::before {
  position: absolute;
  top: -12px;
  left: 0;
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url("../img/sprite.png");
}

.feature-item-1::before {
  background-position: -5px -248px;
}

.feature-item-3::before {
  background-position: -5px -307px;
}

.feature-item-2::before {
  background-position: -5px -366px;
}

.feature-item-4::before {
  background-position: -5px -425px;
}

.news-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.news,
.subscribe {
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-radius: 15px;
}

.news {
  margin-right: 27px;
  padding-top: 7px;
  padding-left: 20px;
  background-color: #ffffff;
  background-image: url("../img/news-background.jpg");
  background-position: right top;
}

.news-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.news-preview {
  display: inline-block;
  max-width: 283px;
  margin-top: -11px;
  vertical-align: top;
}

.news-preview a {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
  text-decoration: underline;
}

.news-preview a:hover,
.news-preview a:active {
  color: #e84d37;
}

.subscribe {
  -ms-flex-preferred-size: 408px;
  flex-basis: 408px;
  padding: 5px 6px;
  background-color: #fe9e90;
  background-image: url("../img/subscribe-background.jpg");
}

.subscribe-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 143px;
  background-color: #f8f7f4;
  padding: 33px 20px;
  border-radius: 15px;
}

.subscribe p {
  margin-top: -5px;
  margin-bottom: 0;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*margin-top: auto;*/
  margin-top: 37px;
}

.subscribe-form input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 11px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 13px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.subscribe-form label {
  display: none;
}

.subscribe-form button {
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 8px 18px 10px 18px;
  vertical-align: top;
  border-radius: 23px;
}

.map {
  position: relative;
}

.map-contacts {
  position: absolute;
  top: 62px;
  right: 0;
  z-index: 1;
  width: 252px;
  padding: 30px 25px;
  border-radius: 15px;
  background-color: #fffffe;
}

.map-contacts p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
}

.map-contacts b {
  display: block;
  margin-bottom: 19px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.map-contacts b:last-of-type {
  margin-top: 4px;
  margin-bottom: 2px;
}

.map-contacts .btn {
  display: block;
  margin-top: 24px;
  padding: 9px 27px 11px 28px;
  border-radius: 23px;
}

.yandex-map {
  height: 430px;
  background-color: #f7f1d9;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs {
  margin-bottom: 5px;
  padding-top: 10px;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a {
  position: relative;
  margin-right: 18px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
  border-color: rgba(255, 188, 158, 0.3);
}

.breadcrumbs a::after {
  position: absolute;
  content: "»";
  top: 1px;
  right: -14px;
}

.breadcrumbs span {
  color: #ffffff;
}

.filter {
  margin-bottom: 40px;
  font-size: 0;
}

.filter .filter-top {
  margin-bottom: 17px;
}

.sorting,
.range {
  margin-right: 15px;
}

.sorting label,
.range p,
.fatness p,
.topping p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.sorting select,
.fatness label,
.topping-checkbox label,
.filter .btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.sorting {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.sorting label {
  display: block;
  padding-left: 16px;
  margin-bottom: 5px;
}

.sorting .select-wrap {
  position: relative;
  width: 193px;
  height: 36px;
  border-radius: 20px;
  overflow: hidden;
}

.sorting .select-wrap::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 15px;
  display: block;
  border: 5px solid #ffffff;
  border-bottom-width: 0;
  border-left-width: 4px;
  border-right-width: 4px;
  border-left-color: transparent;
  border-right-color: transparent;
}

.sorting select {
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  width: 220px;
  height: 40px;
  padding-left: 14px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Roboto", "Arial", sans-serif;
}

.select-wrap:hover select {
  background-color: #ffffff;
  color: #323232;
}

.sorting .select-wrap:hover::after {
  border-top-color: #323232;
}

.sorting option {
  padding-left: 12px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #323232;
}

.filter-top .range {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.range p {
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 15px;
}

.range .range-bar {
  position: relative;
  width: 219px;
  height: 36px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.range-bar::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  display: block;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.filter-top .range-strip {
  position: absolute;
  top: 16px;
  left: 34px;
  right: 66px;
  height: 4px;
  background-color: #ffffff;
}

.range-strip::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.range-strip::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -8px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.filter-top .fatness {
  display: inline-block;
  vertical-align: top;
}

.fatness p {
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 15px;
}

.fatness .fatness-value {
  height: 27px;
  padding-top: 9px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  vertical-align: top;
  font-size: 0;
}

.fatness-value div {
  display: inline-block;
  padding-right: 20px;
  padding-left: 30px;
}

.fatness-value div:last-child {
  padding-right: 0;
}

.fatness-value label {
  position: relative;
}

.fatness-value input {
  display: none;
}

.fatness-value label::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -30px;
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.fatness-value label:hover::before {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.fatness-value input:checked ~ label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -25px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}

.fatness-value input:disabled ~ label::before,
.fatness-value input:disabled ~ label::after {
  opacity: 0.4;
}

.filter-bottom .topping {
  display: inline-block;
  margin-right: 14px;
  vertical-align: top;
}

.topping p {
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 15px;
}

.topping .topping-checkbox {
  height: 26px;
  padding-top: 10px;
  padding-right: 17px;
  padding-left: 15px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 0;
}

.topping-checkbox div {
  display: inline-block;
  padding-right: 23px;
  padding-left: 32px;
  vertical-align: top;
}

.topping-checkbox div:last-child {
  padding-right: 0;
}

.topping-checkbox input {
  display: none;
}

.topping-checkbox label {
  position: relative;
}

.topping-checkbox label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -32px;
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.topping-checkbox label:hover::before {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.topping-checkbox input:checked ~ label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  display: block;
  width: 9px;
  height: 4px;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.topping-checkbox input:disabled ~ label::before,
.topping-checkbox input:disabled ~ label::after {
  opacity: 0.4;
}

.filter-bottom .btn {
  display: inline-block;
  margin-top: 21px;
  height: 36px;
  padding-right: 28px;
  padding-left: 28px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: none;
  box-shadow: none;
}

.filter-bottom .btn:hover {
  background-color: #ffffff;
  color: #323232;
}

.filter-bottom .btn:active {
  background-color: #ffffff;
  border: none;
  box-shadow: inset 0 2px 0 0 #696969;
  color: #323232;
}

.pagination {
  position: relative;
  height: 26px;
  margin-bottom: 30px;
  text-align: right;
  font-size: 0;
}

.pagination a {
  display: inline-block;
  min-width: 26px;
  height: 26px;
  margin-right: 3px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}

.pagination .prev,
.pagination .next {
  position: relative;
}

.pagination .next {
  margin-right: -5px;
}

.pagination .prev::before,
.pagination .next::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  width: 8px;
  height: 8px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pagination .next::before {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.pagination .prev:active::before,
.pagination .next:active::before {
  border-color: #323232;
}

.pagination .disabled::before {
  opacity: 0.2;
}

.pagination .current {
  background-color: #ffffff;
  color: #323232;
}

.pagination a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.pagination a:active {
  background-color: #ffffff;
  color: #323232;
}

.pagination .disabled:hover,
.pagination .disabled:active {
  background: none;
}

.pagination::after {
  content: "";
  position: absolute;
  bottom: -30px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 23px;
}

.main-footer,
.main-footer a {
  color: #ffffff;
}

.footer-social {
  padding-top: 17px;
}

.social-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: top;
  font-size: 0;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-image: url("../img/sprite.png");
  opacity: 0.8;
}

.social-btn:hover {
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.7);
}

.social-btn:active {
  box-shadow: inset 0 2px 0 0 #888888;
}

.social-btn-twit,
.social-btn-inst,
.social-btn-fb {
  margin-right: 8px;
}

.social-btn-twit {
  background-position: -5px -530px;
}

.social-btn-inst {
  background-position: -5px -572px;
}

.social-btn-fb {
  background-position: -5px -614px;
}

.social-btn-vk {
  background-position: -5px -656px;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 4px;
  padding-top: 13px;
}

.footer-info-column:first-child {
  margin-right: 31px;
}

.footer-providers {
  position: relative;
  font-weight: bold;
}

.footer-providers::before {
  position: absolute;
  left: -22px;
  top: 2px;
  content: "";
  width: 15px;
  height: 13px;
  background-image: url("../img/sprite.png");
  background-position: -5px -698px;
}

.footer-info-column a {
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.ha-logo-img {
  display: block;
  width: 110px;
  height: 38px;
  background-image: url("../img/ha-logo.png");
  background-repeat: no-repeat;
  background-position: 2px, 2px;
}

.footer-copyright p {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
}

.ha-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-info a:hover,
.footer-info a:active,
.footer-copyright a:hover,
.footer-copyright a:active {
  color: #ffbc9e;
  border-color: rgba(255, 188, 158, 0.3);
}

.feedback {
  display: none;
}

@-webkit-keyframes bounce {
  0% {-webkit-transform: scale(0);transform: scale(0); }
  80% {-webkit-transform: scale(1.05);transform: scale(1.05); }
  100% {-webkit-transform: scale(1);transform: scale(1); }
}

@keyframes bounce {
  0% {-webkit-transform: scale(0);transform: scale(0); }
  80% {-webkit-transform: scale(1.05);transform: scale(1.05); }
  100% {-webkit-transform: scale(1);transform: scale(1); }
}

.feedback-open {
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 99;
  display: block;
  width: 429px;
  height: 400px;
  margin-left: -237px;
  padding: 16px 24px 26px 24px;
  border-radius: 12px;
  background-color: #f8f7f4;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

@-webkit-keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);transform: translateX(-10px); }
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);transform: translateX(10px); }
}

@keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);transform: translateX(-10px); }
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);transform: translateX(10px); }
}

.feedback-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.feedback b {
  display: block;
  margin-bottom: 19px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.feedback label {
  display: none;
}

.feedback input {
  width: 250px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 14px;
  font-size: 16px;
  line-height: 16px;
}

.feedback textarea {
  width: 100%;
  height: 156px;
  box-sizing: border-box;
  margin-bottom: 18px;
  padding-top: 9px;
  padding-left: 14px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-size: 16px;
  background: #ffffff;
}

.feedback .btn {
  float: right;
  padding: 9px 23px 11px 23px;
  border-radius: 23px;
}

.feedback-close {
  position: absolute;
  top: 15px;
  right: 16px;
  display: block;
  width: 16px;
  height: 16px;
  border: 0;
  background: none;
  cursor: pointer;
}

.feedback-close::before,
.feedback-close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -3px;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000000;
}

.feedback-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.feedback-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.feedback-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.feedback-overlay-open {
  display: block;
}
